@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    direction: rtl;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    overflow: auto;
}

button {
    font-family: inherit;
}

#tab1, #tab1 > *, #tab2, #tab2 > *, #tab3, #tab3 > * {
    transition: all 0.4s ease;
}

#tab1 {
    text-align: center;
    animation: fadein 2s ease forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#tab1 h1 {
    font-size: 5em;
    max-width: 100%;
    word-wrap: break-word;
    padding-top: 20vh;
}

#tab1 h2 {
    margin-top: 20px;
}

#tab1 button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15vh;
    font-size: 1.5em;
    width: 200px;
    user-select: none;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#tab1 p {
    text-align: right;
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: #666;
    font-size: 14px;
}

#tab2 {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    min-height: 100%;
    display: flex;
    padding: 15px;
    animation: fadein 1s ease-in-out;
}

#tab2 h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

#tab2 p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

#tab2 hr {
    margin-bottom: 15px;
}

#player-container .player-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    gap: 20px;
}

#player-container .player-input input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background: #fff;
    cursor: text;
}

#player-container .player-input button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

#player-container .player-input button img {
    filter: invert(29%) sepia(98%) saturate(6378%) hue-rotate(356deg) brightness(97%) contrast(104%);
    width: 20px;
    height: 20px;
}

#player-container .player-input button:hover img {
    filter: invert(29%) sepia(98%) saturate(6378%) hue-rotate(356deg) brightness(97%) contrast(104%) brightness(75%);
}

#player-container .player-input label {
    width: 30px;
    text-align: center;
}

.drag-handle {
    cursor: grab;
    width: 20px;
    height: 20px;
}

.drag-handle:active {
    cursor: grabbing;
}

#next-step {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 0;
    float: left;
}

#next-step:hover {
    background-color: #0056b3;
}

#next-step:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#tab3 {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    animation: fadein 1s ease-in-out;
}

#tab3 h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

#tab3 p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

#tab3 h3 {
    font-size: 1.8em;
    color: #003366;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#tab3 h3 span {
    font-size: 1em;
    color: #003366;
}

#selected-roles-count {
    color: #003366;
    font-size: 1.5em;
    margin: 15px 0;
}

.roles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.role-button {
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    user-select: none;
}

.role-button.citizen {
    border-color: #28a745;
}

.role-button.mafia {
    border-color: #dc3545;
}

.role-button.neutral {
    border-color: #ffc107;
}

.role-button:hover {
    transform: scale(1.05);
}

#confirm-roles {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#confirm-roles:hover {
    background-color: #0056b3;
}

#confirm-roles:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.role-button {
    position: relative;
}

.role-button.selected.citizen {
    background-color: #d4edda;
}

.role-button.selected.mafia {
    background-color: #f8d7da;
}

.role-button.selected.neutral {
    background-color: #fff3cd;
}

.role-button[data-count]::after {
    content: attr(data-count);
    position: absolute;
    top: -10px;
    left: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 0.9em;
    line-height: 25px;
    background-image: none;
    display: none;
}

.role-button.selected:not([data-count])::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
    background-image: url("https://gholamhasan.sirv.com/tick.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.role-button[data-count]:not([data-count="0"])::after {
    display: block;
}

.role-button.selected.citizen::before {
    background-color: #D758BA;
}

.role-button.selected.mafia::before {
    background-color: #23CABA;
}

.role-button.citizen[data-count]::after {
    background-color: #28a745;
}

.role-button.mafia[data-count]::after {
    background-color: #dc3545;
}

.role-button[data-count] {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.role-button[data-count] img {
    width: 20px;
    display: none;
    filter: invert(29%) sepia(98%) saturate(6378%) hue-rotate(356deg) brightness(97%) contrast(104%) brightness(75%);
}

.role-button.has-role img {
    display: block !important;
}

.role-button.selected.neutral::before {
    background-color: #003EF8;
}

.back-button {
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    background: transparent !important;
    transition: none !important;
    transform: none !important;
}

.back-button img {
    width: 20px;
    height: 20px;
}

.head-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-button {
    background: transparent !important;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: none !important;
    transform: none !important;
}

.info-button img {
    width: 20px;
    height: 20px;
}

/* Popup Modal */
.info-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.info-modal-content {
    border-radius: 15px;
    background-color: #fefefe;
    margin: 0 auto 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.info-modal-content h3 {
    margin: 15px 0;
    color: #003EF8;
    font-size: 1.4em;
}

.close-button {
    color: #f43030;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #ec0000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    #tab1 h1 {
        font-size: 4em;
    }
}

@media (max-width: 992px) {
    #tab1 h1 {
        font-size: 4em;
    }
}

@media (max-width: 768px) {
    #tab1 h1 {
        font-size: 3.5em;
    }
}

@media (max-width: 576px) {
    #tab1 h1 {
        font-size: 3em;
    }
}
